In [1]:
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
import pandas as pd

# Scrape the results

In [3]:
driver = webdriver.Chrome()
driver.get("http://www.lotoxp.com/history.php?game=Singapore_Toto")

In [4]:
df=pd.DataFrame(columns=["Date",'1st#','2nd#','3rd#','4th#','5th#','6th#','7th#'])
df1=[]
pg=int(driver.find_element_by_xpath("//td[@class='page']").text)
while pg !=6:
    #pg=int(driver.find_element_by_xpath("//td[@class='page']").text)
    col=[]
    search_box = driver.find_element_by_xpath("//table[@id='tbl1']/tbody")
    for tr in search_box.find_elements_by_tag_name('tr'):
        row=tr.text
        col.append(row)
    for i in range(0,len(col)):
        col[i]=col[i].split()
    df=df.append(pd.DataFrame(col,columns=["Date",'1st#','2nd#','3rd#','4th#','5th#','6th#','7th#']))
    #df.concat(df,df1)
    pg+=1
    #next page

    if driver.find_element_by_xpath("//td[@class='page']").text !='6':
        element = driver.find_element_by_xpath('/html/body/div[2]/table/tbody/tr/td[2]/table/tbody/tr/td[4]')
        element.click()

driver.close()

In [5]:
df[['1st#','2nd#','3rd#','4th#','5th#','6th#','7th#']]=df[['1st#','2nd#','3rd#','4th#','5th#','6th#','7th#']].apply(pd.to_numeric)

In [6]:
#type(df.iloc[1][1])
df['Date']=pd.to_datetime(df['Date'])

In [7]:
df.to_excel('500.xlsx')

In [8]:
df.head()

        Date  1st#  2nd#  3rd#  4th#  5th#  6th#  7th#
0 2019-02-28    20    24    27    39    43    48     8
1 2019-02-25     9    12    27    28    38    44    10
2 2019-02-22     5     8    14    16    34    39    23
3 2019-02-18    25    26    29    31    46    49    21
4 2019-02-14     2    10    12    20    24    32    31

In [9]:
freq=df['1st#'].value_counts(sort=False)

In [10]:
freq

1     49
2     52
3     42
4     29
5     43
6     35
7     24
8     30
9     15
10     7
11    20
12     8
13     9
14     8
15     1
16     8
17     6
18     4
19     3
20     4
21     3
22     2
25     3
27     1
28     1
31     2
Name: 1st#, dtype: int64